/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Lato', sans-serif;
    height: calc(100vh - 10px);
    background: linear-gradient(to bottom, rgb(66, 148, 136) 20%, rgb(206, 206, 197) 20%);
  }

  figure{
    max-width: 40px;
  }

  img{
    max-width: 100%;
    border-radius: 50%;
  }

  .profile-name{
    font-weight: normal;
    font-size: 16px;
    margin-left: 5px;
  }

  .profile-info{
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  .profile-info figure img, #chat-cards .card .left figure img{
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
      border: 1px solid white; 
      transition: box-shadow 0.3s ease; 
  }

  .profile-info figure img:hover , #chat-cards .card .left figure img:hover{
    cursor: pointer;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
  }

  .profile-info figure img:active, #chat-cards .card .left figure img:active{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: scale(0.96); 
  }

  /* Layout container */
  .container{
    margin: 10px auto;
    max-width: 1500px;
    height: 100%;
  }

  /* Section layout */
  #s-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
  }

  /* LEFT */
  #s-left{
    flex-basis: 35%;
    flex-grow: 0;
    border-right: 1px solid lightgray;
    background-color: #fff;
  }

  #nav-left, #nav-right{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(234, 234, 234);
  }

  .icon{
    padding-right: 5px;
  }

  .icon i {
    color: rgb(177, 177, 177);
    margin-right: 10px;
}
  .icon i:hover{
    color: lightgray;
    cursor: pointer;
  }

  .icon i:active{
    color: rgb(177, 177, 177);
    cursor: pointer;
  }

  /* MAIN */
  .search{
    margin: 5px 10px;
  }

  .search .items button:hover{
    cursor: pointer;
  }

  .search .items button{
    padding: 5px 15px;
    border-radius: 5px white;
    color: gray;
  }


  .search .items{
    display: flex;
  }

  .search .items input{
    padding-left: 10px;
    margin-left: 5px;
    width: 100%;
  }

  /* Section chat cards */
  #chat-cards{
    margin-top: 10px;
    max-height: 90vh;  
    overflow-y: auto;
    overflow-x: hidden
  }

  #chat-cards .card:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
  }

  #chat-cards .card:active{
    background-color: #fff;
    cursor: pointer;
  }

  #chat-cards .card .left{
    margin-left: 10px;
    display: flex;
    flex-basis: 80%;
  }

  #chat-cards .card .right{
    margin-right: 10px;
    display: flex;
    justify-content: end;
    flex-basis: 20%;
  }

  #chat-cards .card{
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 1px solid lightgray;
  }

  #chat-cards .card .contact-info{
    margin-left: 15px;
  }

  #chat-cards .card h3{
    font-weight: normal;
    font-size: 18px;
  }

  #chat-cards .card p{
    margin-top: 3px;
    font-size: 12px;
    color: rgb(177, 177, 177);
  }

  #chat-cards .card .msg-time{
    display: flex;
    font-size: 12px;
    color: rgb(177, 177, 177);
  }

  /* RIGHT */
 #s-right{
    flex-basis: 65%;
    background-image: url(../img/mine.png);
}
 
#s-right header{
    height: 50px;
    width: 100%;
}

#nav-right{
    display: flex;
    justify-content: space-between;
}

#nav-right .profile-access{
    margin-left: 10px;
}

/* SECTION MAIN CHATS */
#main-chat{
    position: relative;
    height: calc(100% - 50px);
    overflow-y: auto;
}

#main-chat footer{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: rgb(234, 234, 234);
}

#main-chat footer .content{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-chat footer i{
    margin-left: 15px;
    margin-right: 15px;
    color: rgb(134, 134, 134);
}

#main-chat footer input{
    width: 90%;
    height: 70%;
    padding-left: 10px;
}

#main-chat footer i:hover{
    color: lightgray;
    cursor: pointer;
}

#main-chat footer i:active{
    color: rgb(134, 134, 134);
}




