/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Lato', sans-serif;
    height: calc(100vh - 10px);
    background: linear-gradient(to bottom, rgb(66, 148, 136) 20%, rgb(206, 206, 197) 20%);
  }

  figure{
    max-width: 40px;
  }

  img{
    max-width: 100%;
    border-radius: 50%;
  }

  .profile-name{
    font-weight: normal;
    font-size: 16px;
    margin-left: 10px;
  }

  .profile-info{
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  .profile-info figure img, #chat-cards .card .left figure img{
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
      border: 1px solid white; 
      transition: box-shadow 0.3s ease; 
  }

  .profile-info figure img:hover , #chat-cards .card .left figure img:hover{
    cursor: pointer;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
  }

  .profile-info figure img:active, #chat-cards .card .left figure img:active{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: scale(0.96); 
  }

  /* Layout container */
  .container{
    margin: 10px auto;
    max-width: 1500px;
    height: 100%;
  }

  /* Section layout */
  #s-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
  }

  /* LEFT */
  #s-left{
    flex-basis: 35%;
    flex-grow: 0;
    border-right: 1px solid lightgray;
    background-color: #fff;
  }

  #nav-left, #nav-right{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(234, 234, 234);
  }

  .icon{
    padding-right: 5px;
  }

  .icon i {
    color: rgb(177, 177, 177);
    margin-right: 10px;
}
  .icon i:hover{
    color: lightgray;
    cursor: pointer;
  }

  .icon i:active{
    color: rgb(177, 177, 177);
    cursor: pointer;
  }

  /* MAIN */
  .search{
    margin: 5px 0;
    margin-top: 9px;
  }

  .search .items button:hover{
    cursor: pointer;
  }

  .search .items button{
    padding: 5px 15px;
    border-radius: 10px;
    color: gray;
  }


  .search .items{
    display: flex;
  }

 

  .search .items input{
    padding-left: 10px;
    margin-left: 1px;
    width: 100%;
    border-radius: 10px;
  }

  /* Section chat cards */
  #chat-cards{
    margin-top: 10px;
    max-height: 90vh;  
    overflow-y: auto;
    overflow-x: hidden
  }

  #chat-cards .card:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
  }

  #chat-cards .card:active{
    background-color: #fff;
    cursor: pointer;
  }

  #chat-cards .card .left{
    margin-left: 10px;
    display: flex;
    flex-basis: 80%;
  }

  #chat-cards .card .right{
    margin-right: 10px;
    display: flex;
    justify-content: end;
    flex-basis: 20%;
  }

  #chat-cards .card{
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 1px solid lightgray;
  }

  #chat-cards .card .contact-info{
    margin-left: 15px;
  }

  #chat-cards .card h3{
    font-weight: normal;
    font-size: 18px;
  }

  #chat-cards .card p{
    margin-top: 3px;
    font-size: 12px;
    color: rgb(177, 177, 177);
  }

  #chat-cards .card .msg-time{
    display: flex;
    font-size: 12px;
    color: rgb(177, 177, 177);
  }

  /* RIGHT */
 #s-right{
    flex-basis: 65%;
    background-image: url(../img/mine.png);
}
 
#s-right header{
    height: 50px;
    width: 100%;
}

#nav-right{
    display: flex;
    justify-content: space-between;
}

#nav-right .profile-access{
    margin-left: 10px;
}

/* SECTION MAIN CHATS */
#main-chat{
    position: relative;
    height: calc(100% - 50px);
    overflow-y: auto;
}

/* Messages BOX */
.messages-wrapper{
    flex-direction: column;
    margin: 50px auto;
    max-width: 90%;
    display: flex;
    align-items: start;
}

/* Dynamic classes messages */
.sent{
    align-self: flex-start;
    background-color: #dcf8c6

}

.received{
    align-self: flex-end;
    background-color: #ffffff

}

.messages-box{
  position: relative;
  width: 30%;
    margin-top: 1px;
    display: flex;
    justify-content: start;
    padding: 10px 25px; 
    border-radius: 15px;
    max-width: 60%; 
    font-size: 14px;
    line-height: 20px;
    word-wrap: break-word; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); 
}

.messages-box:hover{
  cursor: pointer;
}

#main-chat footer{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: rgb(234, 234, 234);
}

#main-chat footer .content{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-chat footer i{
    margin-left: 15px;
    margin-right: 15px;
    color: rgb(134, 134, 134);
}

#main-chat footer input{
    width: 90%;
    height: 70%;
    padding-left: 10px;
}

#main-chat footer i:hover{
    color: lightgray;
    cursor: pointer;
}

#main-chat footer i:active{
    color: rgb(134, 134, 134);
}

/* Deleted messages */
.delete-message{
  z-index: 1000;
  position: absolute;
  top: 15px;
  right: -100px;
  padding: 20px 10px;
  border-radius: 12px;
  background-color: #fff;
  color: gray;
  border: 1px solid red;
}

.delete-message:hover{
  background-color: lightgray;
}

.delete-message :active{
  background-color: #fff;
}

/* Time messages is sent */
.msg-time{
  position: absolute;
  right: 7px;
  bottom: 1px;
  color: gray;
  font-size: 10px;
}

/* DARK MODE */

.dark-mode {
  background: linear-gradient(to bottom, rgb(11, 57, 50) 20%, #000 20%);
  color: #fff; 
}

.dark-mode header #nav-left, .dark-mode header #nav-right{
  background-color: #333;
  color: #fff;
}

.dark-mode #s-left {
  background-color: rgb(40, 40, 41); 
}

.dark-mode #main-chat {
  background-color: rgb(25, 25, 26);
}

.dark-mode #chat-cards .card:hover {
  background-color: #333; 
}

.dark-mode .search input {
  background-color: #444; 
  color: #fff; 
  border: 1px solid #666; 
}

.dark-mode .search button {
  background-color: #999;
  color: #555; 
}

.dark-mode .messages-box.sent {
  background-color: rgb(32, 80, 70); 
}

.dark-mode .messages-box.received {
  background-color: #555; 
}

.dark-mode footer .content {
  background-color: #333; 
}

.dark-mode footer .content input {
  background-color: #555; 
  color: white;
}

.dark-mode .profile-info img {
  border: 2px solid #fff; 
}

.dark-mode .delete-message{
  background-color: #333;
  color: #888;
}

.dark-mode figure img {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3); 
  border: 1px solid #333; 
  transition: box-shadow 0.3s ease; 
}

.dark-mode figure img:hover {
  cursor: pointer;
  box-shadow: 0 16px 32px rgba(255, 255, 255, 0.4);
}

.dark-mode figure img:active {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); 
  transform: scale(0.96); 
}
